*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.task-buttons{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}



.task-btn{
    transition: .3s;
    cursor:pointer;
}

.task-btn:hover{
    transform: scale(1.2);
}

.tasks-progress .progress{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 10px;
}

.list-task-item{
    padding-right:0px !important;
    padding-left: 0px !important;
}


.card-filters .form-select{
    font-size: 14px;
}
h6{
    font-size: 14px !important;
}